<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
	<insert id="insert" parameterType="com.example.boot11.dto.GalleryDto">
		INSERT INTO board_gallery(num, writer, caption, saveFileName, regdate)
		VALUES (board_gallery_seq.nextval, #{writer }, #{caption, jdbcType=VARCHAR }, #{saveFileName}, SYSDATE)
	</insert>
	
	<select id="getList" parameterType="com.example.boot11.dto.GalleryDto" resultType="com.example.boot11.dto.GalleryDto">
		SELECT num, writer, caption, saveFileName, regdate
		FROM board_gallery
	</select>
	
	<select id="getData" parameterType="int" resultType="com.example.boot11.dto.GalleryDto">
		SELECT num, writer, caption, saveFileName, regdate
		FROM board_gallery
		WHERE num = #{num }
	</select>
	
	<delete id="delete" parameterType="com.example.boot11.dto.GalleryDto">
		DELETE FROM board_gallery
		WHERE num = #{num }
	</delete>
	
	<update id="update" parameterType="com.example.boot11.dto.GalleryDto" >
		UPDATE board_gallery
		SET saveFileName = #{saveFileName }, caption = #{caption }, regdate = SYSDATE
		WHERE num = #{num }
	</update>
</mapper>