<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <h1>갤러리 목록입니다</h1>
        
        <a th:href="@{/gallery/uploadform}">이미지 업로드</a>
        <div class="row" >
            <div class="col-sm-6 col-md-4 col-lg-3">
            	
            	<div th:each="tmp : ${list}" class="card-body" >
            		<a href="자세히보기 url">
            			<img th:src="@{${filePath} + '' + ${tmp.saveFileName}}"/>
            		</a>
                	<p class="card-text" th:text="${tmp.caption}"></p>
                	<p class="card-text">by <strong>[[${tmp.writer}]]</strong></p>
                	<p><small>[[${tmp.regdate}]]</small></p>
                </div>
                
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <a href="자세히 보기 url">
                        <img class="card-img-top" th:src="@{/images/image1.png}" >
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">이사진은 어제 찍은 사진(caption)</p>
                    <p class="card-text"> by <strong>김구라(writer)</strong></p>
                    <p><small>2024.07.01 오전 10:00</small></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>