<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--
	요리 이름, 레시피 를 웹서비스로 제공하고자 한다.
	요리 목록보기, 요리 추가하기, 요리 삭제하기, 요리 수정하기 기능을 구현해 보세요.
	jpa 를 활용해서!
 -->
<title>/cooking/list.html</title>
</head>
<body>
	<h3>요리 목록입니다</h3>
	<a th:href="@{/cook/insertform}">요리 추가하기</a>
	<table>
		<tr>
			<th>번호</th>
			<th>요리</th>
			<th>레시피</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
		<tr th:each="tmp : ${list}">
			<td th:text="${tmp.num}"></td>
			<td>[[${tmp.name}]]</td>
			<td th:text="${tmp.recipe}"></td>
			<td><a th:href="@{/cook/updateform(num=${tmp.num})}">수정</a></td>
			<td><a th:href="@{/cook/delete(num=${tmp.num})}">삭제</a></td>
		</tr>
	</table>
</body>
</html>